@import "./variable";
@import "./general";

.contentContainer{
    padding-top: 0 !important;
    .mainTitle { 
		text-align: center;
	}
    padding-top: $padding;
    .listSection{
        padding-top: 50px;
        .sketchHeader{
            margin-top: 15px;
        }
        .carousel-inner{
            img{
                height: 100%;
            }
        }
    }
    
}